* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	color: #fff;
}

#container {
	position: absolute;
	/*margin: 0 auto;
	margin-top: 24px;*/
	/*border: #fff 4px solid;*/
	min-width: 480px;
	min-height: 480px;
	width: 100%;
	height: 100%;
	/*background: #efefef;*/
}

#container canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}